@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-1">Welcome to Gugak Music Instruments</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Janggu</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Daegum</td>
                <td>$129.99</td>
            </tr>
        </tbody>
    </table>
</div>