@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-2">Welcome to Gugak Music Instruments</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gayageum</td>
                <td>$219.99</td>
            </tr>
            <tr>
                <td>Janggu</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Daegum</td>
                <td>$129.99</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="alert alert-primary" role="alert">
    Please click below to find out more about those instruments
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Gayageum
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>The gayageum or kayagum</strong> is a traditional Korean musical instrument. It is a plucked zither with 12 strings, though some more recent variants have 18, 21 or 25 strings. It is probably the best known traditional Korean musical instrument.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Janggu
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>The janggu or seyogo</strong> is a drum often used in traditional Korean music. It consists of an hourglass-shaped body with two heads made from various types of leather. The two heads produce sounds of different pitch and timbre, which when played together are believed to represent the harmonious joining of Um and Yang.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Daegum
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>The daegeum</strong> is a large bamboo flute, a transverse flute used in traditional Korean music. It has a buzzing membrane that gives it a special timbre. It is used in court, aristocratic, and folk music, as well as in contemporary classical music, popular music, and film scores.
            </div>
        </div>
    </div>
</div>

<h2>Our Story</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
